.noData{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../res/Background1.jpg);
}
.noData img{
    background-color: white;
    height: 24em;
    border-radius: 5%;
    transform: rotate(340deg);
}
.ChatListView{
    width: 100%;
}

.ChatViewprofile{
    display: flex;
    
    align-items: center;
}

.right{
    flex:3;
    display:flex;
    justify-content: end;
}
/* .profileLeftSide{
    align-items: center;
    display: flex;
    justify-content: space-between;
} */

